* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    --font-colour-main: black;
    --font-colour-secondary: white;
    /* --background-colour-one: rgba(172, 4, 4, 0.664); */
    --background-colour-one: rgba(190, 13, 18);
    --background-colour-two: rgb(197, 23, 24);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25%;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    /* background: rgba(172, 4, 4); */
}

#close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    margin-right: 5px;
    font-style: normal;
}

#close:hover {
    cursor: pointer;
    color: var(--background-colour-one);
}

#description {
    padding: 5px;
}

#description, #contact {
    margin-top: 50px;
}

#contact {
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.main-content-container {
    margin-top: 20px;
    width: 900px;
    /* height: 600px; */
    border: 3px solid var(--background-colour-one);
    border-radius: 5px;
}

/* Select Month Settings */
#select-month-container {
    position: absolute;
    width: 220px;
    height: 150px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 4;
    top: 0;
    left: 0;
}

.row {
    display: flex;
}

.row:first-of-type {
    margin-top: 40px;
}

.row p {
    border: 1px solid black;
    padding: 5px;
    margin: 2px 5px 2px 5px;
    user-select: none;
    width: 44px;
    font-weight: bold;
    text-align: center;
    background-color: var(--background-colour-one);
    color: white;
}

.row p:hover {
    background-color: var(--background-colour-one);
    cursor: pointer;
    color: black;
}
#contact-us {
    height: 100%;
    width: fit-content;
}

#contact-us-pop-up {
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: white;
    width: 300px;
    /* border: 3px solid var(--background-colour-one); */
    border-bottom: 3px solid var(--background-colour-one);
    border-left: 3px solid var(--background-colour-one);
    border-bottom-left-radius: 5px;
    text-align: center;
    z-index: 1;
}

#contact-us-pop-up p:nth-child(2n) {
    font-weight: bold;
}

#contact-us-pop-up p:nth-child(2n-1) {
    margin-top: 10px;
}

#contact-us-pop-up p:nth-child(2n):hover {
    user-select: none;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#contact-us-pop-up p:last-child {
    margin-bottom: 10px;
}

#contact-us-pop-up p {
    margin-left: 20px;
}


/* Header */
header {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
    /* background: var(--background-colour-two); */
    color: black;
    user-select: none;
    border-bottom: 3px solid var(--background-colour-one);
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    margin: 10px 0px 0px 10px;
}

header h2 {
    position: absolute;
    top: 15px;
    right: 10px;
}

/* Background logo */
.background-logo {
    position: absolute;
    z-index: -1;
    top: 120px;
    right: 0px;
    width: 300px;
    opacity: 0.5;
}

/* Main section */
.main-content-background {
    background: var(--background-colour-one);
}

.header-section {
    display: flex;
}

.header-container {
    width: 450px;
    text-align: center;
    user-select: none;
    background-color: white;
}

.selected {
    background-color: var(--background-colour-one);
    color: white;
}

.header-container:hover:not(.selected) {
    cursor: pointer;
    color: var(--background-colour-one);
}

.hidden {
    display: none;
}

.change {
    animation: fade 0.5s;
}

.dropDown {
    animation: dropDown 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes dropDown {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}